@import "tailwindcss";

body{
    font-family: "Poppins", sans-serif;
}

@theme {
    --color-grisTarde: #cdcdcd;
    --color-grisMasTarde: #666666;
    --color-azulRodilla: #3A5E95;
    --color-grisAzul: #374957;
    --color-grisRatonRodilla: rgba(102,102,102,80%);
}

.vi__character.character{
    border-radius: 5px;
    border: 1px solid #505ABB;
}
.vi__character.character.vi__character--inactive.character--inactive{
    background-color: #FFF;
}

.vi__container{
    gap: 17px;
    width: 325px;
}